<!-- Define the Start Menu folder -->
<Directory Id="ProgramMenuFolder">
    <Directory Id="ApplicationProgramsFolder" Name="statorius"/>
</Directory>

<!-- Define the shortcut component -->
<DirectoryRef Id="ApplicationProgramsFolder">
    <Component Id="ApplicationShortcut" Guid="93c95ab2-4c3a-4c13-ad63-acf5c5ef55da">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="statorius"
                  Description="A brief description of statorius"
                  Target="[APPLICATIONFOLDER]bin\statorius.exe"
                  WorkingDirectory="APPLICATIONFOLDER"/>

        <!-- This ensures the shortcut is removed upon uninstall -->
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\statorius" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
</DirectoryRef>