<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='statorius'
        UpgradeCode='870A35FB-245F-4F6E-A620-60EC0DE53E14'
        Manufacturer='statorius'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='statorius network diagnostic tool installer'
            Manufacturer='statorius'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='statorius Installation'/>

        <!-- Same icon embedded into the .exe itself (see build.rs) - referenced
             here too so it shows up in Add/Remove Programs, which reads
             ARPPRODUCTICON rather than pulling it from the installed exe. -->
        <Icon Id='AppIcon.ico' SourceFile='ico\statorius.ico'/>
        <Property Id='ARPPRODUCTICON' Value='AppIcon.ico'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='statorius'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile' Name='License.rtf' DiskId='1' Source='wix\License.rtf' KeyPath='yes'/>
                    </Component>
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Source='$(var.CargoTargetBinDir)\statorius.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <!-- Define the Start Menu folder -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="statorius"/>
            </Directory>
        </Directory>

        <!-- Define the shortcut component -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="93c95ab2-4c3a-4c13-ad63-acf5c5ef55da">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="statorius"
                          Description="A brief description of statorius"
                          Target="[APPLICATIONFOLDER]bin\statorius.exe"
                          WorkingDirectory="APPLICATIONFOLDER"
                          Icon="AppIcon.ico"/>

                <!-- This ensures the shortcut is removed upon uninstall -->
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\statorius" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs the statorius binary and its Start Menu shortcut.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='ApplicationShortcut'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <!-- Shows the AGPL-3.0 text (wix\License.rtf) as an install-time
             license agreement dialog the user has to accept before
             install proceeds. -->
        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        <UIRef Id='WixUI_Minimal'/>

    </Product>

</Wix>
